calaccess_scraper/proxy_list.txt
calaccess-scraper/spiders/__init__.pyc
calaccess-scraper/spiders/committees.pyc
calaccess-scraper/spiders/ballot_measures.pyc
calaccess-scraper/spiders/funds.pyc
calaccess-scraper/__init__.pyc
calaccess-scraper/items.pyc
calaccess-scraper/settings.pyc
node_modules/
backend/secrets.js
